// fonts.scss

/* Font Stack - Main font stack.
========================================================================== */
$font-stack: Apple System, Blinkmacsystemfont, Segoe Ui, Roboto, Helvetica Neue, Arial, Apple Color Emoji, Segoe Ui Emoji, Segoe Ui Symbol, sans-serif;

/* Font Sizing - Define font size.
========================================================================== */
$font-size: 14px;
$font-size-sm: .65rem;
$font-size-md: .75rem;
$font-size-lg: 1rem;
$font-size-xl: 1.15rem;

/* Font Weight - Define font weight.
========================================================================== */
$bold: 700;
$medium: 500;
$normal: 400;
$light: 300;