// themes.scss

/* Theme color - Main theme color.
========================================================================== */
$primary:rgb(19, 54, 211);
$accent:rgb(228, 0, 87);
$black:rgb(0, 0, 0);
$dark:rgb(16, 16, 31);
$white: rgb(255, 255, 255);
$light:rgb(248, 247, 252);